<div class="border-l-2 border-gray-200 pl-3 py-1 mb-3" id="comment-<%= comment.id %>">
  <p class="text-sm mb-1"><%= comment.content %></p>
  <p class="text-xs text-gray-500">
    <span class="font-medium"><%= comment.user.name %></span>
    <span class="ml-2"><%= l comment.created_at %></span>
  </p>
</div>
