<div class="absolute z-50 hidden group-hover:block inset-x-0 mx-auto top-full mt-1 w-48 sm:w-64"
     onclick="event.stopPropagation();">
  <div class="rounded-lg border border-gray-200 bg-white shadow-lg overflow-hidden max-h-72 overflow-y-auto">
    <%= render "tasks/assignment_table", task: task, compact: true %>
  </div>
</div>
